                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"><%- title %> - Sprint Reports</h4>
                                <p class="category">Select a report to view more details</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sprint</th>
                                            <th>Date</th>
                                            <th>Public URL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td><a href="/reports/report/1">Sprint 5</a></td>
                                        	<td>17/05/2016</td>
                                        	<td>http://bit.ly/17HyF</td>
                                        </tr>
                                        <tr>
                                        	<td><a href="#">Sprint 4</a></td>
                                        	<td>10/05/2016</td>
                                        	<td>http://bit.ly/17HyF</td>
                                        </tr>
                                        <tr>
                                        	<td><a href="#">Sprint 3</a></td>
                                        	<td>03/05/2016</td>
                                        	<td>http://bit.ly/17HyF</td>
                                        </tr>
                                        <tr>
                                        	<td><a href="#">Sprint 2</a></td>
                                        	<td>25/04/2016</td>
                                        	<td>http://bit.ly/17HyF</td>
                                        </tr>
                                        <tr>
                                        	<td><a href="#">Sprint 1</a></td>
                                        	<td>18/04/2016</td>
                                        	<td>http://bit.ly/17HyF</td>
                                        </tr>
                                    </tbody>
                                </table>
                                  
                                
                                   
                            </div>
                            <div class="footer">
                                <a href="#" class="btn btn-fill btn-info">Add Report</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>