
<div id="the-basics">
  <input class="typeahead" type="text" placeholder="States of USA">
</div>


<!--
<ul>
<% for(var i=0; i<res.locals.requestData.total; i++) { %>
    <li><%= res.locals.requestData.issues[i].key %></li>
<% } %>
</ul>
-->








