

<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Sprint Commitment Story List</h4>
      <p class="category">Add/Remove Stories</p>
    </div>
   <div id="id01">hey</div> 
    <div class="content table-responsive table-full-width">

        <form id="commitment">
          <div id="the-basics">
            <input class="typeahead" type="text" placeholder="Story ID" name="storyid" />
          </div> 
          <input type="text" name="storypriority" />
          <input type="text" name="storydesc" />
          <input type="text" name="storystatus" />
          <input type="submit" class="btn btn-primary btn-fill" value="Add" />
        </form>
               
        
        <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Story ID</th>
                <th>Priority</th>
                <th>Story Description</th>
                <th>Status </th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            </tbody>
        </table>
        

   </div>
    
  </div>
</div>


<!--
<ul>
<% for(var i=0; i<res.locals.requestData.total; i++) { %>
    <li><%= res.locals.requestData.issues[i].key %></li>
<% } %>
</ul>
-->








