                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Client List</h4>
                                <p class="category">Select a client to view available sprint reports</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr><th>ID</th>
                                    	<th>Name</th>
                                    	<th>Approx % Complete</th>
                                    	<th>Target Velocity</th>
                                    	<th>Average Velocity</th>
                                    </tr></thead>
                                    <tbody>
                                        <tr>
                                        	<td>1</td>
                                        	<td><a href="/reports/client/1">Oasis</a></td>
                                        	<td>68.3%</td>
                                        	<td>120</td>
                                        	<td>90</td>
                                        </tr>
                                        <tr>
                                        	<td>2</td>
                                        	<td><a href="#">Topshop UI</a></td>
                                        	<td>98%</td>
                                        	<td>70</td>
                                        	<td>85</td>
                                        </tr>
                                        <tr>
                                        	<td>3</td>
                                        	<td><a href="#">Chanel</a></td>
                                        	<td>70%</td>
                                        	<td>120</td>
                                        	<td>119</td>
                                        </tr>
                                        <tr>
                                        	<td>4</td>
                                        	<td><a href="#">National Trust</a></td>
                                        	<td>30%</td>
                                        	<td>140</td>
                                        	<td>190</td>
                                        </tr>
                                        <tr>
                                        	<td>5</td>
                                        	<td><a href="#">Access Prepaid</a></td>
                                        	<td>48%</td>
                                        	<td>35</td>
                                        	<td>40</td>
                                        </tr>
                                    </tbody>
                                </table>
                                   
                            </div>
                        </div>
                    </div>