                    
<div class="col-md-12">
    <div class="card" id="add-control">
        <div class="header">
            <h4 class="title">Clients</h4>
            <p class="category">Add/Modify a client</p>
        </div>
        <div class="content">
            <form id="clients">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="loading">Client Name</label>
                            <input class="form-control" type="text" placeholder="Client Name" id="name" name="name" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Project Ref (JIRA)</label>
                            <input type="text" class="form-control" id="jiraprojectref" placeholder="Project REF" name="jiraprojectref" />
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <input type="submit" id="submit" class="btn btn-primary btn-fill form-control" value="Add" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <input type="reset" id="cancel" class="btn btn-secondary btn-fill form-control hidden" value="Cancel" />
                            <input type="hidden" id="id" value="" name="id" />
                        </div>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>           
                    
                    
                    
<div class="col-md-12">
    <div class="card">
        <div class="content table-responsive table-full-width">
            <table id="bootstrap-table" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="hidden" data-field="id">ID</th>
                        <th class="col-md-3" data-field="name" data-sortable="true" data-formatter="formatLink">Name</th>
                        <th class="col-md-2" data-field="jiraprojectref" data-sortable="true">Reference (JIRA)</th>
                        <th class="col-md-2" data-field="complete" data-sortable="true">Approx % Complete</th>
                        <th class="col-md-2" data-field="velocitytgt" data-sortable="true">Target Velocity</th>
                        <th class="col-md-2" data-field="velocityavg" data-sortable="true">Average Velocity</th>
                        <th class="col-md-3 td-actions text-right" data-field="actions" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                    </tr>
                </thead>
            </table>
            
            <table id="client-table" class="table table-hover table-striped">
                
            </table>
            
                                    
        </div>
    </div>
</div>