
<div class="col-md-12">
    <div class="card" id="add-control">
        <div class="header">
            <h4 class="title">Dependencies</h4>
            <p class="category">Add/Modify Dependency</p>
        </div>
        <div class="content">
            <form id="dependency-form">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="loading">Priority <star>*</star></label>
                            <select class="form-control" required="required" name="dependencypriority">
                                <option name="Blocker">Blocker</option>
                                <option name="Critical">Critical</option>
                                <option name="Major">Major</option>
                                <option name="None">None</option>
                                <option name="Trivial">Trivial</option>
                                <option name="Low">Low</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="loading">Status <star>*</star></label>
                            <select name="dependencystatus" class="form-control">
                                <option name="Open">Open</option>
                                <option name="In Progress">In Progress</option>
                                <option name="Done">Done</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="loading">Assignee <star>*</star></label>
                            <input type="text" class="form-control" name="dependencyassignee" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="loading">Description <star>*</star></label>
                            <textarea type="text" name="dependencydesc" class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="loading">Add Stories</label>
                            <div id="tags1466059008665_tagsinput" class="tagsinput  tag-red tag-fill" style="height: 100%;">
                                <span class="tag">
                                    <span>Design &amp; UI&nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                <span class="tag">
                                    <span>Inspiration&nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                <span class="tag">
                                    <span>Business&nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                <span class="tag">
                                    <span>Lifestyle&nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>
                                </span>
                                <span class="tag">
                                    <span>tesssdsdsd&nbsp;&nbsp;</span>
                                    <a class="tagsinput-remove-link"></a>    
                                </span>
                                <div class="tagsinput-add-container" id="tags1466059008665_addTag">
                                    <div class="tagsinput-add"></div>
                                    <input id="tags1466059008665_tag" value="" data-default="" style="color: rgb(102, 102, 102); width: 89px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
     
                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="submit" id="submit" class="btn btn-primary btn-fill form-control" value="Add" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <input type="reset" id="cancel" class="btn btn-secondary btn-fill form-control hidden" value="Cancel" />
                            <input type="hidden" id="jiraprojectref" value="<%=req.param('id')%>" name="jiraprojectref" />
                        </div>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>  


<div class="col-md-12">
    <div class="card">
        <div class="content table-responsive table-full-width">
            <table id="dependencies-bootstrap-table" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1" data-field="dependencyref" data-sortable="true">Ref</th>
                        <th class="col-md-1" data-field="dependencypriority" data-sortable="true">Priority</th>
                        <th class="col-md-7" data-field="dependencydesc" data-sortable="true">Description</th>
                        <th class="col-md-2" data-field="dependencyassignee" data-sortable="true">Assignee</th>
                        <th class="col-md-2" data-field="dependencystatus" data-sortable="true">Status</th>
                        <th class="col-md-2 td-actions text-right" data-field="actions" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>