    <div class="sidebar" data-color="red" data-image="/images/sidebar-4.jpg">  
    
      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->
    
    	
        <div class="logo">
            <a href="/" class="logo-text">
                SPRINT REPORTS
            </a>
        </div>
        
        <div class="sidebar-wrapper">
            
            <div class="user">
                <div class="photo">
                    <img src="/images/default-avatar.png">
                </div>                 
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed" aria-expanded="false">
                        Oasis
                        <b class="caret"></b>
                    </a>                
                    <div class="collapse" id="collapseExample" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Edit Profile</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            <ul class="nav">
                <li class="active">
                    <a href="/clients/">
                        <i class="pe-7s-diamond"></i>
                        <p>Client List</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>