
<div class="content">
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

                <form action="/projects" method="POST">
                    <div class="card card-hidden">

                        <div class="header text-center">
                            <h4 class="title">Error 400 - Bad Request</h4>
                        </div>

                        <div class="content">
                            <p class="text-center"><%= data %></p>
                        </div><!-- /content -->
                        
                    </div>              <!-- /card -->
                </form>
            </div>
        </div>
    </div>                  <!-- /container-fluid -->
</div>                      <!-- /content -->


