<div class="col-md-12">
    <div class="card" id="add-control">
        <div class="header">
            <h4 class="title">TEST</h4>
            <p class="category">Add/Modify Sprints</p>
        </div>
        <div class="content">
             <form id="sprintform">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="loading">Sprint Name *</label>
                            <input class="form-control" required="required" aria-required="true" type="text" placeholder="Sprint Name" id="sprintname" name="sprintname" />
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <input type="submit" id="submit" class="btn btn-primary btn-fill form-control" value="Add" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <input type="reset" id="cancel" class="btn btn-secondary btn-fill form-control hidden" value="Cancel" />
                            <input type="hidden" id="sprintid" value="" name="sprintid" />
                        </div>
                    </div>
                   
                </div>
            </form>
            
        </div>
    </div>
</div>