                    
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"><%=reportData[0].sprintname %> - Sprint Report</h4>
                                <p class="category">10/05/16 - 30/05/16</p>
                                <div class="pull-right"><a href="" class="btn btn-primary">Edit Sprint Fundamentals</a></div>
                            </div>
                            <div class="content content-full-width">
                                <ul role="tablist" class="nav nav-tabs">
                                    <li role="presentation" class="active">
                                        <a href="#overview" data-toggle="tab">Sprint 5 - Overview</a>
                                    </li>
                                    <li>
                                        <a href="#dependencies" data-toggle="tab">Full Dependencies</a>
                                    </li>
                                    <li>
                                        <a href="#test" data-toggle="tab">Next Sprint</a>
                                    </li>
                                </ul>
                                
                                <div class="tab-content">
                                    <div id="overview" class="tab-pane active">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Dependencies affecting this sprint</h4>
                                                    <p class="category">Most Urgent Dependencies (Blockers Only)</p>
                                                </div>
                                                <div class="content">
                                                    <div class="content table-responsive table-full-width">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Priority</th>
                                                                    <th>Description</th>
                                                                    <th>Affected Stories</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td><span class="pe-7s-attention text-danger">&nbsp;</span>BLOCKER</td>
                                                                    <td>Require CSR Certificate for Apple Pay</td>
                                                                    <td>OAS-81</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td><span class="pe-7s-attention text-danger">&nbsp;</span>BLOCKER</td>
                                                                    <td>Require HMAC Keys for the new template</td>
                                                                    <td>OAS-81</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3</td>
                                                                    <td><span class="pe-7s-attention text-danger">&nbsp;</span>BLOCKER</td>
                                                                    <td>Require details for postcode lookup</td>
                                                                    <td>OAS-81, OAS-39</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>4</td>
                                                                    <td><span class="pe-7s-attention text-danger">&nbsp;</span>BLOCKER</td>
                                                                    <td>Require HMAC Keys for the new template</td>
                                                                    <td>OAS-81, OAS-39</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>5</td>
                                                                    <td><span class="pe-7s-attention text-danger">&nbsp;</span>BLOCKER</td>
                                                                    <td>Require CSR Certificate for Apple Pay</td>
                                                                    <td>OAS-89</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <a href="#dependencies" class="btn btn-fill btn-info" data-toggle="tab">View full list</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                       
                                        
                                        
                                        
                                        
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <div class="header">
                                                        <h4 class="title">Overall Velocity</h4>
                                                        <p class="category">Velocity Report</p>
                                                    </div>
                                                    <div class="content">
                                                        
                                                        
                                                        <!-- CHARTIST GRAPH GOES HERE -->
                                                        
                                                        
                                                         <div class="footer">
                                                            <div class="legend">
                                                                <i class="fa fa-circle text-info"></i>Velocity [Sprint 5]
                                                                <i class="fa fa-circle text-danger"></i> Target Velocity
                                                                <i class="fa fa-circle text-warning"></i> Average Velocity [All Sprints]
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                       <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Sprint 5 Stories Complete</h4>
                                                    <p class="category text-success">118.5 Story Points &nbsp;<span class="pe-7s-like2"></span></p>
                                                </div>
                                                <div class="content table-responsive table-full-width">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                            <th>Story ID</th>
                                                            <th>Story</th>
                                                            <th>Status</th>
                                                        </tr></thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Sprint 5 Commitment</h4>
                                                    <p class="category">118.5 Story Points</p>
                                                </div>
                                                <div class="content table-responsive table-full-width">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                            <th>Story ID</th>
                                                            <th>Story</th>
                                                            <th>Status</th>
                                                        </tr></thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OAS-81</td>
                                                                <td>Checkout - As a member of staff i want the checkout to display the relevant delivery methods so that I can have my items delivered at special rates</td>
                                                                <td>Done</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                         <div class="clearfix"></div>
                                        
                                    </div>
                                    <div id="dependencies" class="tab-pane">
                                        
                                        <div class="col-md-12">
                                                <div class="header">
                                                    <h4 class="title">Dependencies</h4>
                                                    <p class="category">Full List By Priority</p>
                                                </div>
                                                <div class="content">
                                                    <div class="content table-responsive table-full-width">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                <th>ID</th>
                                                                <th>Priority</th>
                                                                <th>Description</th>
                                                                <th>Affected Stories</th>
                                                                <th>Assignee</th>
                                                                <th>Status</th>
                                                            </tr></thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>BLOCKER</td>
                                                                    <td>Require CSR Certificate for Apple Pay</td>
                                                                    <td>OAS-81</td>
                                                                    <td>Oasis</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td>BLOCKER</td>
                                                                    <td>Require HMAC Keys for the new template</td>
                                                                    <td>OAS-81</td>
                                                                    <td>Oasis</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3</td>
                                                                    <td>BLOCKER</td>
                                                                    <td>Require details for postcode lookup</td>
                                                                    <td>OAS-81, OAS-39</td>
                                                                    <td>Red Ant</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>4</td>
                                                                    <td>BLOCKER</td>
                                                                    <td>Require HMAC Keys for the new template</td>
                                                                    <td>OAS-81, OAS-39</td>
                                                                    <td>Red Ant</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>5</td>
                                                                    <td>BLOCKER</td>
                                                                    <td>Require CSR Certificate for Apple Pay</td>
                                                                    <td>OAS-89</td>
                                                                    <td>Oasis</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                            </div>
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                        
                                    </div>
                                    <div id="test" class="tab-pane">
                                       
                                       
                                       
                                       <div class="col-md-12">
                        <div class="card">

                            

                            <div class="bootstrap-table"><div class="fixed-table-toolbar"><div class="bars pull-left"><div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div></div><div class="columns columns-right pull-right"><button class="btn btn-default" type="button" name="refresh" title="Refresh"><i class="glyphicon fa fa-refresh"></i></button><button class="btn btn-default" type="button" name="toggle" title="Toggle"><i class="glyphicon fa fa-th-list"></i></button><div class="keep-open btn-group" title="Columns"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon fa fa-columns"></i> <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li><label><input type="checkbox" data-field="id" value="1" checked="checked"> ID</label></li><li><label><input type="checkbox" data-field="name" value="2" checked="checked"> Name</label></li><li><label><input type="checkbox" data-field="salary" value="3" checked="checked"> Salary</label></li><li><label><input type="checkbox" data-field="country" value="4" checked="checked"> Country</label></li><li><label><input type="checkbox" data-field="city" value="5" checked="checked"> City</label></li><li><label><input type="checkbox" data-field="actions" value="6" checked="checked"> Actions</label></li></ul></div></div><div class="pull-left search"><input class="form-control" type="text" placeholder="Search"></div></div><div class="fixed-table-container" style="padding-bottom: 0px;"><div class="fixed-table-header" style="display: none;"><table></table></div><div class="fixed-table-body"><div class="fixed-table-loading" style="top: 41px;">Loading, please wait...</div><table id="bootstrap-table" class="table table-hover">
                                <thead><tr><th class="bs-checkbox " style="width: 36px; " data-field="state"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th><th class="text-center" style="" data-field="id"><div class="th-inner ">ID</div><div class="fht-cell"></div></th><th style="" data-field="name"><div class="th-inner sortable both">Name</div><div class="fht-cell"></div></th><th style="" data-field="salary"><div class="th-inner sortable both asc">Salary</div><div class="fht-cell"></div></th><th style="" data-field="country"><div class="th-inner sortable both">Country</div><div class="fht-cell"></div></th><th style="" data-field="city"><div class="th-inner ">City</div><div class="fht-cell"></div></th><th class="td-actions text-right" style="" data-field="actions"><div class="th-inner ">Actions</div><div class="fht-cell"></div></th></tr></thead>
                                <tbody><tr data-index="0"><td class="bs-checkbox"><input data-index="0" name="btSelectItem" type="checkbox"></td><td class="text-center" style="">2</td><td style="">Minerva Hooper</td><td style="">$23,789</td><td style="">Curaçao</td><td style="">Sinaai-Waas</td><td class="td-actions text-right" style=""><a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)"><i class="fa fa-image"></i></a><a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a><a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)"><i class="fa fa-remove"></i></a></td></tr><tr data-index="1"><td class="bs-checkbox"><input data-index="1" name="btSelectItem" type="checkbox"></td><td class="text-center" style="">18</td><td style="">Boris Horton</td><td style="">$35,094</td><td style="">Laos</td><td style="">Saint-Mard</td><td class="td-actions text-right" style=""><a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)"><i class="fa fa-image"></i></a><a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a><a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)"><i class="fa fa-remove"></i></a></td></tr><tr data-index="2"><td class="bs-checkbox"><input data-index="2" name="btSelectItem" type="checkbox"></td><td class="text-center" style="">1</td><td style="">Dakota Rice</td><td style="">$36,738</td><td style="">Niger</td><td style="">Oud-Turnhout</td><td class="td-actions text-right" style=""><a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)"><i class="fa fa-image"></i></a><a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a><a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)"><i class="fa fa-remove"></i></a></td></tr><tr data-index="3"><td class="bs-checkbox"><input data-index="3" name="btSelectItem" type="checkbox"></td><td class="text-center" style="">4</td><td style="">Philip Chaney</td><td style="">$38,735</td><td style="">Korea, South</td><td style="">Overland Park</td><td class="td-actions text-right" style=""><a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)"><i class="fa fa-image"></i></a><a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a><a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)"><i class="fa fa-remove"></i></a></td></tr><tr data-index="4"><td class="bs-checkbox"><input data-index="4" name="btSelectItem" type="checkbox"></td><td class="text-center" style="">11</td><td style="">Chaim Saunders</td><td style="">$5,502</td><td style="">Romania</td><td style="">New Quay</td><td class="td-actions text-right" style=""><a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)"><i class="fa fa-image"></i></a><a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a><a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)"><i class="fa fa-remove"></i></a></td></tr><tr data-index="5"><td class="bs-checkbox"><input data-index="5" name="btSelectItem" type="checkbox"></td><td class="text-center" style="">12</td><td style="">Josiah Simon</td><td style="">$50,265</td><td style="">Christmas Island</td><td style="">Sint-Jans-Molenbeek</td><td class="td-actions text-right" style=""><a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)"><i class="fa fa-image"></i></a><a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a><a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)"><i class="fa fa-remove"></i></a></td></tr><tr data-index="6"><td class="bs-checkbox"><input data-index="6" name="btSelectItem" type="checkbox"></td><td class="text-center" style="">3</td><td style="">Sage Rodriguez</td><td style="">$56,142</td><td style="">Netherlands</td><td style="">Baileux</td><td class="td-actions text-right" style=""><a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)"><i class="fa fa-image"></i></a><a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a><a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)"><i class="fa fa-remove"></i></a></td></tr><tr data-index="7"><td class="bs-checkbox"><input data-index="7" name="btSelectItem" type="checkbox"></td><td class="text-center" style="">9</td><td style="">Illana Nelson</td><td style="">$56,142</td><td style="">Heard Island</td><td style="">Montone</td><td class="td-actions text-right" style=""><a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)"><i class="fa fa-image"></i></a><a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a><a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)"><i class="fa fa-remove"></i></a></td></tr></tbody>
                            </table></div><div class="fixed-table-footer" style="display: none;"><table><tbody><tr></tr></tbody></table></div><div class="fixed-table-pagination"><div class="pull-left pagination-detail"><span class="pagination-info"></span><span class="page-list"><span class="btn-group dropup"><button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown"><span class="page-size">8</span> <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li class="active"><a href="javascript:void(0)">8</a></li><li><a href="javascript:void(0)">10</a></li><li><a href="javascript:void(0)">25</a></li></ul></span> rows visible</span></div><div class="pull-right pagination"><ul class="pagination"><li class="page-first disabled"><a href="javascript:void(0)">«</a></li><li class="page-pre disabled"><a href="javascript:void(0)">‹</a></li><li class="page-number active"><a href="javascript:void(0)">1</a></li><li class="page-number"><a href="javascript:void(0)">2</a></li><li class="page-number"><a href="javascript:void(0)">3</a></li><li class="page-next"><a href="javascript:void(0)">›</a></li><li class="page-last"><a href="javascript:void(0)">»</a></li></ul></div></div></div></div><div class="clearfix"></div>
                        </div><!--  end card  -->
                    </div>
                                       
                                       
                                       
                                       
                                       <div class="clearfix"></div>
                                       
                                    </div>
                                    <div id="settings" class="tab-pane">
                                        Explore a wide Houses Inc., a group of architects and interior designers based in Chicago and operating for clients worldwide. We’ve been designing stunningly beautiful houses and making clients happy for years.
                                    </div>
                               </div>
                                
                            </div>
                        </div>
                    </div>